### Integers

Integer can represent octal and hexadecimal numbering system. Octal numbers must start with 0 and hexadecimal with 0x. Range is -2^31 and 2^31.

### NULL

These are special types of variables that can hold only one value i.e., NULL. We follow the convention of writing it in capital form, but its case sensitive.

        $nm = NULL;

        echo $nm;